@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --color-primary: #0e6cc4; 
  --color-secondary: #77daff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  overflow-x:hidden;
  overflow-y:hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .card {
    font-family: 'Josefin Sans', sans-serif;
    height: auto;
    width: 350px;
    padding: 20px;
    margin: 10px;
    border-radius: 35px;
    color: white;
    background: #00000080;

    .search {
      input {
        font-family: inherit;
        font-size: 17px;
        width: 80%;
        height: 35px;
        padding-left: 15px;
        outline: none;
        border: none;
        border-radius: 20px;
        color: white;
        background-color: #252525cb;
      } input::placeholder {
        color: var(--color-secondary);
        opacity: .6;
      }
      button {
        width: 40px;
        height: 35px;
        border: none;
        border-radius: 50%;
        background-color: #252525cb;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        i {
          color: var(--color-secondary);
        }
      } button:hover {
        background-color: #3d3d3dcb;
      }
    }

    .weather {
      text-align: center;
      .description {
        text-transform: capitalize;
        font-weight: 550;
      }
      div {
        margin-bottom: 10px;
      }
      h1 {
        margin-bottom: 0;
      }
    } 
    .weather.loading {
      visibility: hidden;
      max-height: 50px;
      position: relative;
    }
    .weather.loading::after {
      visibility: visible;
      content: "Loading...";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// BACKGROUND - ANIMATION //
.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0;
  .wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #00aaff;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
  }

  .wave.two {
    animation: drift 3000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
  }

  .wave.three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background-color: var(--color-secondary);
  }
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
//------------------------------------------//

@import './media'